h1{
  margin: 10px 10px;
  align-items: center;
  text-align: center;
  font-size: 37px;
  font-weight:400px;
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
}
#new{
  display:flex;
}
.form-and-table-container {
  display:block;
  justify-content: space-between; 
  align-items: flex-start; 
  margin: 20px auto; 
  min-width: 300px;
}
#RegistrationForm {
  width: 38%;
  height: max-content;
  max-height: 38%;
  padding: 12px;
  border: 44px solid #480d71;
}
label {
  display:contents;
  width: 50px;
  font-weight:200;
} 
input[type="text"],
input[type="email"],
input[type="url"],
input[type="radio"],
input[type="date"],
input[type="checkbox"],
input[type="file"] {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
}
#address{
  width: 370px;
  height: 20px;
}
#photo:hover{
  background-color: rgb(193, 216, 216);
}
.photo{
  width: 20px;
  margin: 10px;
}
#SubmitBtn{
  padding: 10px 20px; 
  width: 210px;
  font-size: 26px; 
  background-color: #224780; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  height: 59px;
  margin-bottom: 20px;
}
#ResetBtn{
  padding: 10px 20px; 
  width: 210px;
  font-size: 26px; 
  background-color: #224780; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
  height: 59px;
  margin-bottom: 20px;
}
#SubmitBtn:hover, #ResetBtn:hover {
  background-color: #051d35;
}
#enrolledTable{
  width: 56%;
  border-collapse: collapse;
  margin-left: 48px;
  max-width: 56%;
  height: max-content;
}
.description-cell {
  width: 200px; 
  max-width: 590px;
} 
#enrolledTable th{
  width: auto;
  padding: 8px;
  border: 4px solid #131111;
  margin: 0px;
  font-size:33px;
  text-align: center;
}
#enrolledTable td {
  width: auto;
  padding: 8px;
  border: 4px solid #131111;
  margin: 0px;
  text-align: left;
}
h1, h2 {
  font-size: 28px;
}
.enrolledTable img {
  width: 140px;
  height: 20px;
}

#enrolledTable td.description-cell {
  width: 40%;
}
#enrolledTable td.image-cell {
  width: 40%; }
#dlt{
  width:max-content;
}
.delete-button{
  margin-left: 300px ;
  margin-bottom: 30px;
  background-color: #dd1616;
  width: 88px;
  height: 45px;
  font-weight: 500;
}
@media screen and (max-width: 700px) {
  .form-and-table-container {
    flex-direction: row; 
    align-items: center;
  }
  .RegistrationForm {
    margin-right: 10px;
    margin-left: 10; 
  }
  .enrolled-container {
    padding-right: 0; 
    width: 55%;
    margin-left:20px;
  }
}