/** {
  margin: auto;
  padding:1.8;
}*/
h1{
  margin: 10 10;
  align-items: center;
  text-align: center;
  font-size: 37px;
  font-weight:400px;
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
}
#RegistrationForm {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 65px solid #b8a1a1;
  background:radial-gradient(180deg, #fff 27%, rgb(70, 159, 218) 40%, rgb(17, 104, 235) 50%);
}
label {
  display:contents;
  width: 50px;
  font-weight:200;
} 
input[type="text"],
input[type="email"],
input[type="url"],
input[type="radio"],
input[type="date"],
input[type="checkbox"],
input[type="file"] {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
}
#address{
  width: 460px;
  height: 20px;
}

#SubmitBtn{
  padding: 10px 20px; /* Adjust padding as needed for button size */
  width: 213px;
  font-size: 26px; /* Adjust font size as needed */
  background-color: #15569c; /* Button background color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  height: 59px;
  margin-bottom: 20px;
}
#ResetBtn{
  padding: 10px 20px; /* Adjust padding as needed for button size */
  width: 213px;
  font-size: 26px; /* Adjust font size as needed */
  background-color: #15569c; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  height: 59px;
  margin-bottom: 20px;
}

Styling for enrolled students container
#displayArea {
  margin-top: 6%;
  width: 700px;
  height:20px;
}
 Styling for enrolled students table /
#enrolledTable {
  width: 100%;
  border-collapse: collapse;
}

#enrolledTable th, #enrolledTable td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Styling for form and table headings /
h1, h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Styling for images in the table /
.enrolledTable img {
  max-width: 50px;
  max-height: 50px;
}
*/
body{
  background:radial-gradient(180deg, #fff 27%, rgb(70, 159, 218) 40%, rgb(17, 104, 235) 50%);

}